NEXT_PUBLIC_SUPABASE_URL=https://uagobygmlwkxuajfiwly.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhZ29ieWdtbHdreHVhamZpd2x5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjgxNzgxODYsImV4cCI6MTk4Mzc1NDE4Nn0.19Yang-4udDjfiL_AjvV-g7Uq5PurKzpvvJ5LOutW0U