@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    min-height: 100vh;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .DialogOverlay[data-state='open'],
  .DialogContent[data-state='open'] {
    animation: fadeIn 200ms ease-out;
  }

  .DialogOverlay[data-state='closed'],
  .DialogContent[data-state='closed'] {
    animation: fadeOut 200ms ease-in;
  }